---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Icon from '../../components/Icon.astro';
---

<BaseLayout title="关于" bodyClass="about-page">
  <div class="page-header page-header--about">
    <h1 class="page-title">关于</h1>
    <div class="page-actions">
      <a
        class="icon-link"
        href="https://github.com/WZVico"
        aria-label="GitHub"
        title="GitHub"
      >
        <Icon name="github" class="icon" />
      </a>
      <a
        class="icon-link"
        href="https://x.com/@WZVico"
        aria-label="Twitter"
        title="Twitter"
      >
        <Icon name="x-twitter" class="icon" />
      </a>
      <a
        class="icon-link"
        href="mailto:wz@wzvico.com"
        aria-label="Email"
        title="Email"
      >
        <Icon name="mail" class="icon" />
      </a>
    </div>
  </div>
  <p class="about-intro-line">
    本博客基于 <a href="https://github.com/cxro/astro-whono">astro-whono</a> 项目搭建。<br />

  </p>

</BaseLayout>
